//- Все примеси в этом файле должны начинаться c имени блока (range)

mixin range(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +range('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' range--' + modsList[i].trim();
      }
    }

  .range(class=allMods)&attributes(attributes)
    .range__between
    .range__btn.range__btn-1
    .range__btn.range__btn-2
    block
