// В этом файле должны быть стили для БЭМ-блока search-panel-dropdown, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-panel-dropdown {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 11;
  top: 50px;
  left: 0;
  width: 100%;
  padding-top: 0;
  margin: auto;

  &__inner {
    width: 100%;
    background: $white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    padding: 0 10px;

    @media (min-width: $screen-sm) {
      width: auto;
    }

    @media (min-width: $screen-md) {
      padding: 0 20px;
    }
  }

  &__body {
    width: 100%;

    @media (min-width: $screen-sm) {
      width: 400px;
    }

    @media (min-width: $screen-md) {
      width: 550px;
    }

    @media (min-width: $screen-lg) {
      width: 750px;
    }

    @media (min-width: $screen-xl) {
      width: 950px;
    }

    @media (min-width: $screen-xxl) {
      width: 1020px;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 50px;

    svg {
      width: 14px;
      height: 12px;
      margin-left: 10px;
    }
  }

  &__footer-text {
    font-weight: 400;
  }

  &__footer-link {
    margin-left: 20px;
    color: $color-accent;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  }
}

.search-panel-dropdown-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &__image {
    display: block;
    width: 30px;
    height: 42px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
  }

  &__price {
    white-space: nowrap;
  }
}
