// В этом файле должны быть стили для БЭМ-блока search-panel-dropdown, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-panel-dropdown {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  z-index: 11;
  width: 100%;
  padding-top: 0;
  margin: auto;
  position: absolute;
  left: 0;
  top: 50px;

  &__inner {
    background: $white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05);
    padding: 10px;

    @media (min-width: $screen-md) {
      padding: 20px;
    }
  }

  &__body {
    min-width: 300px;
    width: 100%;

    @media (min-width: $screen-sm) {
      width: 400px;
    }
    @media (min-width: $screen-md) {
      width: 550px;
    }

    @media (min-width: $screen-lg) {
      width: 750px;
    }

    @media (min-width: $screen-xl) {
      width: 950px;
    }

    @media (min-width: $screen-xxl) {
      width: 1020px;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    &-text {
      font-weight: 600;
    }
  }
}

.search-panel-dropdown-item {

  padding: 20px/2 0;
  margin-bottom: 20px/2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__header {

    margin-left: 0;
    margin-right: auto;
  }
}
