//- Все примеси в этом файле должны начинаться c имени блока (content__block)

mixin content__block(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +content__block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' content__block--' + modsList[i].trim();
      }
    }

  .content__block(class=allMods)&attributes(attributes)
    .content__block__inner
      block
