// В этом файле должны быть стили для БЭМ-блока modal, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.js-modal-open {
  overflow: hidden;
}

.modal {

  $block-name:                &; // #{$block-name}__element

  display: none;
  position: fixed;
  z-index: $z-index-modal;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;

  h5 {
    text-align: center;
    font-size: 20px;
  }

  p {
    color: $gray-light;
    margin-bottom: 10px;
  }

  .js-modal-open & {
    overflow-x: hidden;
    overflow-y: auto;
  }

  &__dialog {
    flex-shrink: 0;
    position: relative;
    width: 100%;
    margin: 0;

    @media (min-width: $screen-lg) {
      width: 600px;
      margin: auto;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        padding: 2em 0;
      }

      #{$block-name}--open & {
        animation: modal-content-show $transition-time 1 both;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: 100%;
    min-height: 100%;
    background-color: #fff;
    outline: 0;
  }

  &__header {
    flex-shrink: 0;
    padding: 40px 0 15px 30px;
    // border-bottom: 2px solid $color-accent;

    @media (min-width: $screen-md) {
      padding: 30px 0 15px 50px;
    }
  }

  &__title {
    font-size: $font-size-h3;
    line-height: 1.2;
    font-weight: 500;
    color: currentColor;
  }

  &__close {
    position: absolute !important; // stylelint-disable-line  declaration-no-important
    top: 15px;
    right: 30px;

    @media (min-width: $screen-md) {
      top: 30px;
      right: 30px;
    }
  }

  &__body {
    max-width: 100%;
    padding: 0 30px;
    margin-top: 15px;
    font-size: 18px;

    @media (min-width: $screen-md) {
      padding: 0 50px;
    }

    td,
    th {
      white-space: nowrap;
      text-align: center;
      padding: 10px 20px;
    }

    th {
      color: $gray;
    }

    td:nth-child(even) {
      background-color: $gray-lightest;
    }

    &--table {
      margin-top: 0;
      padding: 0;
      padding-top: 20px;
      border-top: 2px solid $color-accent;

      @media (min-width: $screen-md) {
        padding: 0;
        padding-top: 20px;
      }
    }
  }

  &__table-container {
    overflow: auto;
  }

  &__ankor {
    color: $color-accent;
  }

  &__main-text {
    margin-top: 15px;
  }

  &__footer {
    flex-shrink: 0;
    padding: 20px 30px 30px;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      padding: 20px 50px 50px;
    }

    // модификаци блока
    .btn {
      margin-bottom: 20px;
    }

    &--table {

      @media (min-width: $screen-md) {
        display: flex;
        justify-content: center;
        padding: 20px 50px 30px;
      }
    }
  }

  &__info-text {
    margin-top: 20px;
    margin-bottom: 0;
    grid-column: span 2;
  }

  &__backdrop {
    position: fixed;
    z-index: ($z-index-modal - 1);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, $opacity);

    @media (min-width: $screen-lg) {
      animation: modal-backdrop-show $transition-time 1;
    }
  }

  &--open {

    @media (min-width: $screen-lg) {
      display: flex;
      align-items: center;

      @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
        align-items: flex-start;
      }
    }
  }
}



@keyframes modal-backdrop-show {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes modal-content-show {

  0% {
    opacity: 0;
    transform: translateY(-2em);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
