-
  var mainMenu = [
       {
      "id": "10",
      "name": "Категории",
      "url": "catalog-category.html",
      "childs": [
        {
          "id": "10-0",
          "name": "Эротическое бельё",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Нижнее бельё",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Корректирующие корсеты",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Домашняя одежда",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Литература",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Эротические аксессуары",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Косметика",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Ликвидация",
          "url": "catalog-category.html"
        },
      ]
    },
    {
      "id": "10",
      "name": "Эротическое белье",
      "url": "catalog-category.html",
      "childs": [
        {
          "id": "10-0",
          "name": "Сорочки и платья",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Колготки и чулки",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Корсеты и топы",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Игровые костюмы",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Трусики",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Бюстгалтеры",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Комплекты",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Подвязки и пояса для чулок",
          "url": "catalog-category.html"
        },
      ]
    },
    {
      "id": "10",
      "name": "Нижнее бельё",
      "url": "catalog-category.html",
      "childs": [
        {
          "id": "10-0",
          "name": "Комплекты",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Мужское бельё",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Майки",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Бюстгалтеры",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Трусики",
          "url": "catalog-category.html"
        },
      ]
    },
    {
      "id": "10",
      "name": "Эротические аксессуары",
      "url": "catalog-category.html",
      "childs": [
        {
          "id": "10-0",
          "name": "Вагинальные шарики",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Пэстисы и наклейки",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Митенки и майки",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Чокеры",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "BDSM аксессуары",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Игры для взрослых",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Аксессуары к белью",
          "url": "catalog-category.html"
        },
        {
          "id": "10-20",
          "name": "Массажеры и кольца",
          "url": "catalog-category.html"
        },
      ]
    },
  ];
