// В этом файле должны быть стили для БЭМ-блока header-catalog, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.header-catalog {

  $block-name:                &; // #{$block-name}__element

  display: none;
  padding-left: $m-def;
  padding-right: $m-def;

  @media (min-width: $screen-md) {
    padding-right: $m-md;
    padding-left: $m-md;
  }

  @media (min-width: $screen-xl) {
    padding-right: $m-xl;
    padding-left: $m-xl;
  }

  &__inner {
    display: grid;
    width: 100%;

    @media (min-width: $screen-xl) {
      grid-template-columns: 2fr 1fr;
      grid-column-gap: 40px;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: 1fr;
    align-self: flex-start;

    @media (min-width: $screen-sm) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
      grid-column-gap: 40px;
    }

    @media (min-width: $screen-big) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &__group {
    margin-top: 20px;

    @media (min-width: $screen-xl) {
      margin-top: 40px;
    }

    // модификация блока, блок стилизован в другом файле
    .btn {
      margin-top: 20px;
    }
  }

  &__group-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 10px;
    cursor: pointer;

    @media (min-width: $screen-xl) {
      font-weight: $font-weight-500;
    }    
  }

  &__angle-down {
    position: relative;
    width: 24px;
    height: 22px;
    margin-left: 5px;
    border: none;
    // border-radius: 4px;
    // background-color: #EBEBEB;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 9px;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      transform: translateY(-70%) rotate(45deg);
      transition: transform $transition-time;
    }

    &--active {

      &:after {
        transform: translateY(-30%) rotate(225deg);
      }
    }

    @media (min-width: $screen-lg) {
      display: none;
    }
  }

  &__item-wrap {
    display: none;

    &--open {
      display: block;
    }

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

  &__item {
    margin-top: 20px;
    font-size: $font-size-h4;
    font-weight: $font-weight-400;
    cursor: pointer;

    @media (min-width: $screen-lg) {
      margin-top: 5px;
    }
  }

  &__news {
    margin-top: 40px;
    margin-bottom: 20px;

    img {
      width: 100%;
    }

    @media (min-width: $screen-xl) {
      margin-bottom: 0;
    }
  }

  &__news-title {
    font-size: 24px;
    font-weight: 500;
    color: $color-accent;
  }

  &__news-link {
    display: flex;
    align-items: center;
    color: $color-accent;
    font-size: $font-size-h4;

    svg {
      padding-top: 3px;
      margin-left: 8px;
      stroke: $color-accent;
    }
  }

  &--open {
    display: grid;
    z-index: 20;
    position: absolute;
    overflow-y: auto;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 40px;
    background: #fbfbfb;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  }
}
