// Стилизация БЭМ-блока page.
// Общие стили тегов.
// Подключение шрифтов.
// Типографика.

// stylelint-disable plugin/selector-bem-pattern

// Сделаем viewport великим снова! (привет, IE10) http://timkadlec.com/2012/10/ie10-snap-mode-and-responsive-design/
@at-root {

  @-ms-viewport { // stylelint-disable-line
    width: device-width;
  }
}

/*Обнуляем стили*/
*{
  padding: 0;
  margin: 0;
  border: 0;
}
*,*:before,*:after{
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1.2;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{
  list-style: none;
  list-style-type: none;
}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* stylelint-disable */
@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Regular.woff2') format('woff2'),
  url('../fonts/ApercuPro-Regular.woff') format('woff');
  font-weight: 400;
  font-display: fallback;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Medium.woff2') format('woff2'),
  url('../fonts/ApercuPro-Medium.woff') format('woff');
  font-weight: 500;
  font-display: fallback;
}

@font-face {
  font-family: 'Apercu Pro';
  src: url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
  url('../fonts/ApercuPro-Bold.woff') format('woff');
  font-weight: 600;
  font-display: fallback;
}
/* stylelint-enable */


.page {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%; // stylelint-disable-line
  min-width: 320px;
  min-height: 100%;

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  &__content {
    flex-grow: 1;
  }

  &__footer-wrapper {
    flex-shrink: 0;
  }
}

* {
  -webkit-tap-highlight-color: transparent;
}

body {
  word-break: break-word;
  font-family: $font-family;
  color: $black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[tabindex='-1']:focus {
  outline: none !important; // stylelint-disable-line
}

// Коррекция для кликабельных элементов с указанной ролью в iOS
[role='button'] {
  cursor: pointer;
}

// Мы любим Сафари (на самом деле, нет).
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; // stylelint-disable-line
}

// area,
// summary,
a,
button,
[role='button'],
input,
label,
select,
textarea {
  touch-action: manipulation; // Стилевая коррекция 300ms задержки (для поддерживающих браузеров)
  margin: 0;                  // Убираем margin в Firefox и Safari
}

button,
input {
  overflow: visible;    // Покажем торчащее в Edge
  text-transform: none; // Уберём наследование text transform в Firefox
}

// Коррекция проблем стилизации для Safari
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button; // stylelint-disable-line
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

// Коррекция для Mobile Safari (https://github.com/twbs/bootstrap/issues/11266)
input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
  -webkit-appearance: listbox; // stylelint-disable-line
}

textarea {
  overflow: auto;   // Удаление верт. скролла в IE.
  resize: vertical; // Правильное изменение размеров
}

svg {

  a &,
  button & {
    pointer-events: none; // Мы любим Edge, это браузер! (почти)
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: $link-color;
  background-color: transparent;
  transition: color 0.1s;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-color--hover;
  }

  // &:visited {
  //   color: $link-color--hover;
  // }

  &[href^='tel:'] {

    // На больших экранах телефоны-ссылки делаем обычным текстом
    @media (min-width: $screen-xl) {
      white-space: nowrap;
      pointer-events: none;
      text-decoration: inherit;
      color: inherit;
    }
  }
}

h1 { font-size: $font-size-h1; } // stylelint-disable-line
h2 { 
  font-size: 36px;

  @media (min-width: $screen-md) {
    font-size: $font-size-h2;
  } 
} // stylelint-disable-line
h3 { font-size: $font-size-h3; } // stylelint-disable-line
h4 { font-size: $font-size-h4; } // stylelint-disable-line
h5 { font-size: $font-size-h5; } // stylelint-disable-line
h6 { font-size: $font-size-h6; } // stylelint-disable-line
