//- Все примеси в этом файле должны начинаться c имени блока (info-block)

mixin info-block(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +info-block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' info-block--' + modsList[i].trim();
      }
    }

  .info-block(class=allMods)&attributes(attributes)
    block
