// В этом файле должны быть стили для БЭМ-блока pagination, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.pagination {
  display: flex;
  flex-wrap: wrap;

  &__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    width: 100%;
    margin-bottom: 50px;

    @media (min-width: $screen-md) {
      justify-content: space-between;
    }

    @media (min-width: $screen-xl) {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 0 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-size: 14px;
    text-decoration: none;
    text-align: center;

    @media (min-width: $screen-xl) {
      width: 40px;
      height: 40px;
    }

    @media (min-width: $screen-big) {
      width: 50px;
      height: 50px;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $text-color;
    }

    @at-root a#{&} {

      &:hover,
      &:focus {
        background-color: $gray-lightest;
      }
    }

    @at-root span#{&} {
      cursor: default;
    }

    &--active {
      background-color: $gray-lightest;
    }
  }

  &__btn {
    width: 270px;
  }

  &__container {
    display: none;
    align-items: center;

    @media (min-width: $screen-md) {
      display: flex;
    }

    @media (min-width: $screen-xl) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  &__info {
    display: none;
    padding-right: 5px;
    font-size: 14px;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }
}
