//- Все примеси в этом файле должны начинаться c имени блока (sidebar)

mixin sidebar(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +sidebar('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' sidebar--' + modsList[i].trim();
      }
    }

  .sidebar(class=allMods)&attributes(attributes)
    .sidebar__inner
      nav.sidebar__nav
        ul.sidebar__list
          li.sidebar__list-item
            a.sidebar__accent(href='catalog.html') Распродажа %
          li.sidebar__list-item
            a(href='catalog.html') Трусы
          li.sidebar__list-item
            a(href='catalog.html') Носки
          li.sidebar__list-item
            a(href='catalog.html') Теплые носочки
          li.sidebar__list-item
            a(href='catalog.html') Корректирующие корсеты
          li.sidebar__list-item
            a(href='catalog.html') Тепло
          li.sidebar__list-item
            a(href='catalog.html') БДСМ
          li.sidebar__list-item
            a(href='catalog.html') Косметика
          li.sidebar__list-item
            a(href='catalog.html') Литература
      block
