// В этом файле должны быть стили для БЭМ-блока free-shipping, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.free-shipping {

  $block-name:                &; // #{$block-name}__element
  order: -1;
  margin: 20px 0;
  font-size: 14px;

  @media (min-width: $screen-md) {
  }

  @media (min-width: $screen-xl) {
    order: inherit;
    margin-top: 0;
  }

  &__text {
    margin: 0 20px 10px;

    @media (min-width: $screen-md) {
      margin: 0;
    }
  }

  &__title {
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 18px;
  }

  &__description {
    margin-bottom: 15px;
    color: rgba(0, 0, 0, 0.4);
  }

  &__indicator {
    position: relative;
    width: 100%;
    height: 5px;
    margin-top: 6px;
    background-color: #ececec;
  }

  &__indicator-fill {
    position: relative;
    top: 0;
    width: 35%;
    height: 5px;
    background-color: $color-accent;
  }

  &__indicator-point {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 11px solid $color-accent;
    border-left: 17px solid transparent;
  }
}
