// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  z-index: 2;
  margin: 0;
  font-size: $font-size-14;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  transition: all .5s ease;

  &--out {
    transform: translateY(-100%);
  }

  &__inner--padding {
    padding-left: 0;
    padding-right: $m-def;

    @media (min-width: $screen-md) {
      padding-right: $m-md;
    }

    @media (min-width: $screen-xl) {
      padding-right: $m-xl;
    }
  }
}

