// В этом файле должны быть стили для БЭМ-блока content-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.content-block {

  $block-name:                &; // #{$block-name}__element

  display: grid;
  align-items: start;
  padding-right: 0;
  padding-left: 0;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__text-wrapper {
    order: 1;
    width: 100%;
    padding-left: $m-def;
    padding-right: $m-def;

    @media (min-width: $screen-sm) {
      padding-left: $m-md;
      padding-right: $m-md;
    }

    @media (min-width: $screen-md) {
      order: 2;
      padding-left: 0;
      padding-right: 0;
    }
  }

  &__img {
    order: 2;
    width: 100%;
    object-fit: cover;
  }

  &__stick-img {
    display: none;

    @media (min-width: $screen-xl) {
      display: block;
      position: absolute;
      top: 370px;
      right: 66px;

      svg {
        width: 66px;
        height: 575px;
      }
    }

    @media (min-width: $screen-xxl) {
      top: 400px;
    }

    @media (min-width: $screen-big) {
      top: 520px;
    }
  }

  &__seo-text {
    margin: 30px 0;
  }

  &__title {
    margin: 0;
    margin-top: 30px;
    margin-bottom: 10px;
    padding: 0;
    font-size: $font-size-h3;
    font-weight: $font-weight-500;
  }

  &__description {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-size: $font-size-h4;
  }

  &--img {
    position: relative;
    padding: 0;
  }

  &--main {

    @media (min-width: $screen-md) {
      grid-column: span 2;
    }

    @media (min-width: $screen-xl) {
      grid-column: span 1;
    }

    h1,
    h2 {
      margin-top: 0;
      margin-bottom: 20px;
      font-size: $font-size-h2;
      font-weight: $font-weight-400;

      @media (min-width: $screen-big) {
        font-size: $font-size-h1;
      }
    }
  }

  &--large {

    @media (min-width: $screen-md) {
      grid-column: span 2;
    }
  }

  &--big {
    grid-column: span 1;

    @media (min-width: $screen-md) {
      grid-column: span 2;
    }

    @media (min-width: $screen-xl) {
      grid-column: span 3;
    }
  }

  &--full-width {
    grid-column: span 4;
  }

  &--m-top {

    @media (min-width: $screen-xl) {
      margin-top: 130px;
    }

    @media (min-width: $screen-xxl) {
      margin-top: 170px;
    }

    @media (min-width: $screen-big) {
      margin-top: 213px;
    }
  }

  &--pos-relative {

    display: none;

    @media (min-width: $screen-xl) {
      display: flex;
      justify-content: center;
      position: relative;
      top: -210px;

      svg {
        width: 50px;
        height: 539px;
      }
    }
  }

  &--mob-last {
    order: 10;

    @media (min-width: $screen-lg) {
      order: initial;
    }
  }

  &--mob-first {
    order: -1;

    @media (min-width: $screen-md) {
      order: initial;
    }
  }

  &--center {

    .content-block__text-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }
}
