//- Все примеси в этом файле должны начинаться c имени блока (content-block)

mixin content-block(mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +content-block('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' content-block--' + modsList[i].trim();
      }
    }

  .content-block(class=allMods)&attributes(attributes)
    .content-block__inner
      block
