// В этом файле должны быть стили для БЭМ-блока alert, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.alert {


  // &--warning {
  //   background-color: lighten($color-warning, 30%);
  //   color: $text-color;
  // }

  &--danger {
    color: $red;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.4;
    padding-left: 20px;

    @media (min-width: $screen-md) {
      padding-left: 0;
    }
  }

  // &--success {
  //   background-color: $color-success;
  //   color: #fff;

  //   a {
  //     color: inherit;
  //     text-decoration: underline;

  //     &:hover,
  //     &:focus {
  //       text-decoration: none;
  //     }
  //   }
  // }
}
