//- Все примеси в этом файле должны начинаться c имени блока (drop-field)

mixin drop-field(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +drop-field('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' drop-field--' + modsList[i].trim();
      }
    }

  .drop-field(class=allMods)&attributes(attributes)
    block
