// В этом файле должны быть стили для БЭМ-блока search-panel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-panel {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  background-color: $gray-fb;

  .btn {
    padding: 10px 15px;

    @media (min-width: $screen-sm) {
      padding: 10px 24px;
    }
  }

  .field-text__input {
    width: 200px;

    @media (min-width: $screen-md) {
      width: 240px;
    }

    @media (min-width: $screen-lg) {
      width: 400px;
    }

    @media (min-width: $screen-xl) {
      width: 700px;
    }

    @media (min-width: $screen-xxl) {
      width: 900px;
      font-size: 18px;
    }
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media (min-width: $screen-md) {
      width: 600px;
    }

    @media (min-width: $screen-lg) {
      width: 800px;
    }

    @media (min-width: $screen-xl) {
      width: 1000px;
    }

    @media (min-width: $screen-xxl) {
      width: 1120px;
    }
  }
}
