// В этом файле должны быть стили для БЭМ-блока search-panel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search-panel {

  $block-name:                &; // #{$block-name}__element
  
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;

  &__inner {
    display: flex;
    width: 100%;
  }

  .btn-group {
    display: flex;
    margin: 0;
  }

  .field-text__input {

    @media (min-width: $screen-xxl) {

      min-width: 1000px;
      font-size: 18px;
    }
  }
}
