// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  height: 50px;
  margin: 0;
  border: none;
  border-radius: none;
  padding: 10px 24px;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  text-align: center;
  font-size: 18px;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  background-color: $white;
  background-image: none;
  cursor: pointer;
  overflow: hidden;
  font-weight: 500;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    // border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {

    @include field-focus;
  }

  &__icon {
    display: inline-flex;
    align-self: center;
    width: 12px;
    height: 12px;
    margin-top: -2px;
    margin-left: 10px;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    // border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }


  &--main {
    color: #fff;
    background-color: $black;
    // border: 1px solid $color-main;
    max-width: 290px;

    &:hover,
    &:focus {
      color: #fff;
      background-color: darken($black, 10%);
      // border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: $black;
      // border-color: $color-main;
    }
  }

  &--accent {
    color: $white;
    background-color: $color-accent;
    // border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: $white;
      background-color: darken($color-accent, 10%);
      // border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: $white;
      background-color: $color-accent;
      // border-color: $color-main;
    }
  }


  &--default {
    color: $white;
    background-color: $gray-d3;
    // border: 1px solid $color-main;

    &:hover,
    &:focus {
      color: $white;
      background-color: darken($gray, 10%);
      // border-color: darken($color-main, 12%);
    }

    &--disabled,
    &:disabled {
      color: $white;
      background-color: $gray-d3;
      // border-color: $color-main;
    }
  }

  &--white {
    color: $black;
    background-color: $white;
    border: 1px solid $gray-lightest;
  }

  &--blank {

    background-color: transparent;
    border: 0;
  }

  &--block {

    display: block;
    width: 100%;
  }

  &--footer {

    height: 40px;
    padding: $field-padding-vertical $field-padding-horizontal*4;
  }

  &--md {

    min-height: 50px;
  }

  &--icon {

    display: flex;
    width: 130px;
  }

  &--m-top {
    margin-top: 20px;

    @media (min-width: $screen-lg) {
      margin-top: 0;
    }
  }
}
