// В этом файле должны быть стили для БЭМ-блока cookie, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.cookie {

  $block-name:                &; // #{$block-name}__element

  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 60px;
  background-color: #FCFCFC;
  padding-top: 24px;
  padding-bottom: 24px;
  z-index: 100;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__caption {
    display: flex;
    align-self: center;

    &-text {
      font-size: $font-size-xs;
      color: $gray;
      align-self: center;
      display: flex;

      span {

        @media (min-width: $screen-xs) {
          display: none;
        }

        @media (min-width: $screen-sm) {
          display: block;
        }

        @media (min-width: $screen-md) {
          display: block;
        }
      }
    }
  }

  &__action {
    display: flex;
    align-self: center;
  }
}
