//- Стандартный шаблон страницы

include mixins.pug

doctype html
html(class='page  no-js', lang='ru')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    //- Edge и ряд мобильных браузеров слишком умны. Отключим это.
    meta(name='format-detection', content='telephone=no')
    meta(name='format-detection', content='date=no')
    meta(name='format-detection', content='address=no')
    meta(name='format-detection', content='email=no')
    meta(content='notranslate', name='google')
    link(rel='apple-touch-icon', sizes='180x180', href='/img/favicon/apple-touch-icon.png')
    link(rel='icon', type='image/png', sizes='32x32', href='/img/favicon/favicon-32x32.png')
    link(rel='icon', type='image/png', sizes='16x16', href='/img/favicon/favicon-16x16.png')
    link(rel='manifest', href='/img/favicon/site.webmanifest')
    link(rel='mask-icon', href='/img/favicon/safari-pinned-tab.svg', color='#5bbad5')
    meta(name='msapplication-TileColor', content='#5bbad5')
    meta(name='theme-color', content='#000')
    meta(name='msapplication-navbutton-color', content='#000')
    meta(name='apple-mobile-web-app-status-bar-style', content='#000')

    block meta
      title instinto

    block head
      link(rel='stylesheet', href='css/style.css')
      script
        include ../js/head-script.js

  body
    noscript У вас отключен JavaScript. Это пугает.

    +page-header
      .page-header__inner--padding
        .header-container
          .burger__container
            +burger('Каталог', 'header-catalog', 'header-catalog--open')
          .header-container__line
          .header-container__inner
            +header-nav-menu
            +logo('index.html', 'header')
              img.logo__icon(src='img/logo-icon.svg', alt='Logo icon')
              img.logo__text(src='img/logo-text.svg', alt='logo text')
            +header-icons
              +search('Поиск','header-search','header-search--open')
              a.header-icons__inner(data-toggle='modal', data-target='#modal-sign-up', href='#')
                .header-icons__text-sub-icon Профиль
                svg(width='20', height='20', class='header-icons__icon header-icons__icon--hide')
                  use(xlink:href='img/sprite.svg#icon-person')
              a.header-icons__inner(href='desired.html')
                .header-icons__text-sub-icon Желаемое
                  #count-favorites
                    span 0
                img(class='header-icons__icon header-icons__icon--hide', src='img/logo-icon.svg', alt='Logo icon')
              a.header-icons__inner(href='cart.html')
                .header-icons__text-sub-icon Корзина
                  #count-basket
                    span 0
                svg(width='20', height='20', class='header-icons__icon header-icons__icon--hide')
                  use(xlink:href='img/sprite.svg#icon-basket')
      .page-header__inner
        +header-search
          +search-panel
          +search-panel-dropdown
      .page-header__inner
        +header-catalog
          .header-catalog__wrap
            .header-catalog__group
              .header-catalog__group-title
                a(href='#') Название группы категорий
                .header-catalog__angle-down
              .header-catalog__item-wrap
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
            .header-catalog__group
              .header-catalog__group-title
                a(href='#') Название группы категорий
                .header-catalog__angle-down
              .header-catalog__item-wrap
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
            .header-catalog__group
              .header-catalog__group-title
                a(href='#') Название группы категорий
                .header-catalog__angle-down
              .header-catalog__item-wrap
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
            .header-catalog__group
              .header-catalog__group-title
                a(href='#') Название группы категорий
                .header-catalog__angle-down
              .header-catalog__item-wrap
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
                .header-catalog__item
                  a(href='#') Название категории
          .header-catalog__news
            img(src='img/preview-item-img.jpg', alt='актуальные новости')
            .header-catalog__news-title
              a Как использование стимуляторов влияет на интимную жизнь?
            a.header-catalog__news-link(href='#') подробнее
              svg(width='16px', height='16px')
                use(xlink:href='img/sprite.svg#icon-arrow-right')

    block content

    +page-footer
      .content__container
        .page-footer__inner.page-footer__inner--carusel
          +content-block('large')
            .content-block__wrap-mob
              a
                img(src='img/Rectangle 99.png', alt='discount')
          +content-block('large')
            .content-block__wrap-mob
              +subscribe
        .page-footer__inner.page-footer__inner--border
          +content-block('al-center')
            .content-block__wrap-mob
              +logo('index.html')
                img.logo__icon(src='img/logo-icon.svg', alt='Logo icon')
                img.logo__text(src='img/logo-text.svg', alt='logo text')
          +content-block
            .content-block__wrap-mob
              +locality
          +content-block
            .content-block__wrap-mob
              .page-footer__btn
                +btn('Статус заказа','white, small-text')(href='#')
                +btn('Подарочный сертификат','white, small-text')(href='certificate.html')
          +content-block('al-center')
            .content-block__wrap-mob
              .page-footer__social
                a(href='#')
                  .page-footer__social-item
                    svg
                      use(xlink:href='img/sprite.svg#icon-instagram')
                a(href='#')
                  .page-footer__social-item
                    svg
                      use(xlink:href='img/sprite.svg#icon-facebook')
                a(href='#')
                  .page-footer__social-item
                    svg
                      use(xlink:href='img/sprite.svg#icon-whatsapp')
                a(href='#')
                  .page-footer__social-item
                    svg
                      use(xlink:href='img/sprite.svg#icon-telegram')
                a(href='#')
                  .page-footer__social-item
                    svg
                      use(xlink:href='img/sprite.svg#icon-vk')
        .page-footer__inner
          +content-block('mob-hide')
            .content-block__wrap-mob
              .header-catalog__group
                .header-catalog__group-title
                  a Наш магазин
                .header-catalog__item-wrap
                  .header-catalog__item
                    a О магазине
                  .header-catalog__item
                    a Адреса магазинов
                  .header-catalog__item
                    a Работай у нас
                  .header-catalog__item
                    a FAQ
          +content-block('mob-hide')
            .content-block__wrap-mob
              .header-catalog__group
                .header-catalog__group-title
                  a Информация и помощь
                .header-catalog__item-wrap
                  .header-catalog__item
                    a Доставка и оплата
                  .header-catalog__item
                    a Возврат и обмен
                  .header-catalog__item
                    a Размерная сетка
                  .header-catalog__item
                    a Скидки
          +content-block('mob-hide')
            .content-block__wrap-mob
              .header-catalog__group
                .header-catalog__group-title
                  a Юридическая информация
                .header-catalog__item-wrap
                  .header-catalog__item
                    a Политика конфиденциальности
                  .header-catalog__item
                    a Политика cookie
                  .header-catalog__item
                    a Условия использования сайта
                  .header-catalog__item
                    a Условия продажи
          +content-block
            .content-block__wrap-mob
              .header-catalog__group
                .header-catalog__group-title
                  a +7 988 396-55-55
                .header-catalog__item-wrap
                  .header-catalog__item
                    a Если у вас возникли вопросы, вы всегда можете связаться с нами.
                +btn('Написать в поддержку','white, small-text')(href='#')
      .page-footer__cop
        .page-footer__cop-item © Instinto, 2021
        .page-footer__cop-item store@instinto.ru
    +modals

    block page-bottom
    script(src='js/bundle.js')
//- базовый шаблон
    //- .page__inner
    //-   .page__content

    //-     +page-header()
    //-       +logo('/')
    //-         img(src='img/demo-logo.svg', alt='Logo', width='64', height='15')
    //-       block nav

    //-     block content
    //-       p содержимое

    //-   .page__footer-wrapper
    //-     +page-footer()
    //-       block footer
    //-         p «Подвал»
    //-         p Контактный телефон: #[a(href='tel:+70000000000') +7 000 000 00 00]

    //- block page-bottom
    //-   script(src='js/bundle.js')