// В этом файле должны быть стили для БЭМ-блока search, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.search {

  $block-name: &; // #{$block-name}__element
  display: flex;
  align-self: center;
  border-right: none;
  padding-top: 5px;

  @media (min-width: $screen-xs) {
    padding-right: 0;
  }

  @media (min-width: $screen-sm) {
    padding-right: 0;
  }

  @media (min-width: $screen-xl) {
    padding-right: 26px;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
  }

  &__toggle {
    cursor: pointer;
    display: flex;
    align-self: center;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }
}
