// В этом файле должны быть стили для БЭМ-блока content-wrap, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.content-wrap {

  $block-name:                &; // #{$block-name}__element

  display: grid;
  align-self: flex-start;

  @media (min-width: $screen-lg) {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 40px;
    grid-column: span 2;
  }


  &--secondary {
    grid-column: span 1;

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr;
      grid-column: span 1;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }

    // здесь модификация, стили в другом файле
    .content-block {

      @media (min-width: $screen-xl) {

        &--large {
          grid-column: span 2;
        }
      }

      &--large {
        grid-column: span 1;
      }
    }
  }

  &--gray {
    order: -1;
    padding: 20px 50px 50px;
    background-color: $gray-fb;

    @media (min-width: $screen-md) {
      order: inherit;
    }
  }
}
