// В этом файле должны быть стили для БЭМ-блока choose-block, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.choose-block {

  $block-name:                &; // #{$block-name}__element

  position: relative;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 15px;
  cursor: pointer;

  @media (min-width: $screen-lg) {
    padding: 20px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
  }

  &__description {
    margin-top: 10px;
    font-size: 14px;
    color: $gray-light;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
  }

  &--active {
    border: 2px solid $color-accent;
    color: $black;

    // модификация блока
    .profile-info__gray-text {
      color: $black;
    }
  }

  &--h-50 {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px 0;
  }
}
