extends ../pug/layout.pug

block meta
  title Не найдена страница
  meta(name='description', content='')

block content
  .content
    .content__container
      main.content__main
        .error404
          .error404__wrap
            .error404__num 404
            .error404__info
              h1.error404__text Такой страницы <br> не существует
              +btn('перейти в каталог', 'main')(href='catalog.html')
      +may-like
