extends ../pug/layout.pug

block meta
  title Страница товара
  meta(name='description', content='')

block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('корзина')
      main.content__main
        .cart
          .cart__select
            .content-block__wrap-mob
              .cart__title
                h3 Ваша корзина
                  span  (3 товара)
                .cart__title-info
                  span Ваши товары зарезервированны на 60 минут
              .cart__card-wrapper
                .cart__card
                  .cart__card-img
                    img(src='img/order-item-1.png', alt='название товара')
                  .cart__card-info
                    .cart__card-price
                      span.cart__card-price-actual 4 990₽
                      +old-price('5 783₽')
                    .cart__card-name Black Silk Luxe Bra подушка еще что-то там и это испытание текста в 3 строки
                    .cart__card-action
                      form(name='delete-cart')
                        .cart__card-delete
                          .cart__card-close
                          span.cart__card-delete-text Удалить из корзины
                      +like
                .cart__card-select
                  +select
                    option(value='12D', selected) 12D
                    option(value='75C') 75C
                    option(value='small') small
                    option(value='big') big
                    option(value='12D') 12D
                  +select
                    option(value='1', selected) 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
              .cart__card-wrapper
                .cart__card
                  .cart__card-img
                    img(src='img/order-item-1.png', alt='название товара')
                  .cart__card-info
                    .cart__card-price
                      span.cart__card-price-actual 4 990₽
                      +old-price('5 783₽')
                    .cart__card-name Black Silk Luxe Bra подушка
                    .cart__card-action
                      form(name='delete-cart')
                        .cart__card-delete
                          .cart__card-close
                          span.cart__card-delete-text Удалить из корзины
                      +like
                .cart__card-select
                  +select
                    option(value='12D', selected) 12D
                    option(value='75C') 75C
                    option(value='small') small
                    option(value='big') big
                    option(value='12D') 12D
                  +select
                    option(value='1', selected) 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
              .cart__card-wrapper
                .cart__card
                  .cart__card-img
                    img(src='img/order-item-1.png', alt='название товара')
                  .cart__card-info
                    .cart__card-price
                      span.cart__card-price-actual 4 990₽
                      +old-price('5 783₽')
                    .cart__card-name Black Silk Luxe Bra подушка еще что-то там и это испытание текста в 3 строки
                    .cart__card-action
                      form(name='delete-cart')
                        .cart__card-delete
                          .cart__card-close
                          span.cart__card-delete-text Удалить из корзины
                      +like
                .cart__card-select
                  +select
                    option(value='12D', selected) 12D
                    option(value='75C') 75C
                    option(value='small') small
                    option(value='big') big
                    option(value='12D') 12D
                  +select
                    option(value='1', selected) 1
                    option(value='2') 2
                    option(value='3') 3
                    option(value='4') 4
          .cart__info
            .your-order__wrap
              +your-order
                .your-order__inner
                  .your-order__head
                    span Ваш заказ
                  .your-order__price
                    .your-order__price-big 5 783 ₽
                    .your-order__count-wrap
                      span Ваши вещи - 4
                      span#total-price 5 783₽
                  .your-order__promo-code-wrap
                    svg(width='24px', height='24px')
                      use(xlink:href='img/sprite.svg#icon-gift-grayscale')
                    p У вас есть промокод или подарочная карта? <br>Введи ее и получи скидку
                    +form('promocode')
                      +field-text({
                        helpText: '',
                        attrs: {
                          placeholder: 'Промокод на скидку'
                        }
                      })
                      +field-actions()
                        +btn('Активировать промокод', 'white')
                .your-order__inner
                  +btn('Оформить заказ', 'accent')(href='checkout.html')
            .free-shipping
              .free-shipping__text
                .free-shipping__title Бесплатная доставка
                .free-shipping__description Возьмите еще что-нибудь и мы доставим вам товар бесплатно!
                .free-shipping__range До бесплатной доставки: <span>520₽</span>
              .free-shipping__indicator
                .free-shipping__indicator-fill
                  .free-shipping__indicator-point
            .cart__empty
            .cart__info-help
              +info-block
                .info-block__inner
                  svg(width='30px')
                    use(xlink:href='img/sprite.svg#icon-shield')
                .info-block__inner
                  h3 Безопасность
                .info-block__inner
                  p Оплата производится через официальные сервисы, мы не получаем доступ к вашим картам или кошелькам
              +info-block
                .info-block__inner
                  svg(width='34px')
                    use(xlink:href='img/sprite.svg#icon-mask')
                .info-block__inner
                  h3 Полная анонимность при доставке
                .info-block__inner
                  p Транспортная компания и курьеры не будут знать детали заказа.
              +info-block
                .info-block__inner
                  svg
                    use(xlink:href='img/sprite.svg#icon-smile')
                .info-block__inner
                  h3 Нужна помощь?
                .info-block__inner
                  p У вас возникли вопросы?<br>Обратитесь в нашу службу поддержки клиентов по электронной почте
