extends ../pug/layout.pug

block meta
  title Каталог
  meta(name='description', content='')


block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Каталог')
      main.content__main
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              h2 Нижнее белье
        .content__inner
          +content-block('big')
            .content-block__text-wrapper
              +categories-list
                ul.categories-list__wrap
                  li
                    a(href='#') Трусы
                  li
                    a(href='#') Лифчики
                  li
                    a(href='#') Комплект белья
                  li
                    a(href='#') Трусы
                  li
                    a(href='#') шорты
                  li
                    a(href='#') Лифчики
                  li
                    a(href='#') Комплект белья
                  li
                    a(href='#') майки
          +content-block
            .content-block__text-wrapper
              //- скрипт в drop-field.js
              +btn('настроить фильтр','white')#catalogDropFilterButton
        form
          .content__inner.content__inner--none-margin.content__inner--close#catalogFilter
            .drop-field__wrapper
              +content-block
                +drop-field
                  .drop-field__inner
                    .drop-field__title Размер
                    .drop-field__item-wrapper
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                    .drop-field__accept
                      +field-actions
                        +btn('Применить','accent')(type='submit')
              +content-block
                +drop-field
                  .drop-field__inner
                    .drop-field__title Размер
                    .drop-field__item-wrapper
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                    .drop-field__accept
                      +field-actions
                        +btn('Применить','accent')(type='submit')
              +content-block
                +drop-field()
                  .drop-field__inner
                    .drop-field__title Размер
                    .drop-field__item-wrapper
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                    .drop-field__accept
                      +field-actions()
                        +btn('Применить','accent')(type='submit')
              +content-block
                +drop-field()
                  .drop-field__inner
                    .drop-field__title Размер
                    .drop-field__item-wrapper
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__item
                        label.drop-field__input-wrap
                          input.drop-field__input.drop-field__input--none(name='chek0', type='checkbox')
                          span Пункт меню 1
                    .drop-field__accept
                      +field-actions()
                        +btn('Применить','accent')(type='submit')
            .drop-field__all-accept
              .content-block__wrap-mob
                +field-actions
                  +btn('Применить','accent')(type='submit')
        //- контейнер товаров
        .content__inner
          //- блок с товаром
          +content-block
            +product-card
              img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
          +content-block
            +product-card
              img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
          +content-block
            +product-card
              img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
          +content-block
            +product-card
              img.product-card__img(src='img/product-card-img (6).jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
          +content-block
            +product-card
              img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
          +content-block
            +product-card
              img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
          +content-block('large')
            +product-card
              img.product-card__img(src='img/product-card-img (2).jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
          +content-block
            +product-card
              img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
              .content-block__text-wrapper
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    .product-card__old-price 2593₽
              .product-card__discount -30%
        //- пагинация
        .pagination__wrapper
            .pagination__btn
              +btn('Показать больше','white, small-text')
            .pagination__container
              .pagination__info <span>12</span> товаров из <span>60</span>
              +pagination()
                +pagination-item('1', '#', true)
                +pagination-item('2', '#')
                +pagination-item('3', '#')
                +pagination-item('...')
                +pagination-item('99', '#')
