extends ../pug/layout.pug

block meta
  title Каталог
  meta(name='description', content='')


block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Каталог')
      main.content__main
        +profile-head('Нижнее белье')
        .content__inner.content__inner--header
          +content-block('big,mob-hide')
            .content-block__text-wrapper
              +categories-list
                ul.categories-list__wrap
                  li
                    a(href='#') Трусы
                  li
                    a(href='#') Лифчики
                  li
                    a(href='#') Комплект белья
                  li
                    a(href='#') Трусы
                  li
                    a(href='#') шорты
                  li
                    a(href='#') Лифчики
                  li
                    a(href='#') Комплект белья
                  li
                    a(href='#') майки
          +content-block
            .content-block__text-wrapper
              //- скрипт в drop-field.js
              +btn('настроить фильтр','white')#catalogDropFilterButton
        form
          .content__inner.content__inner--none-margin.content__inner--close#catalogFilter
            +drop-field
              .drop-field__wrap-item
                .drop-field__title Цена
                .drop-field__body-wrap
                  .drop-field__body
                    .drop-field__caption Выберите диапазон
                    .drop-field__range__wrap
                      .drop-field__range-input
                        label.field-text(style='width: 100%;')
                          span.field-text__input-wrap
                            input.field-text__input#range__field-1(type='number', min='0', max='10000')
                        .drop-field__line
                        label.field-text(style='width: 100%;')
                          span.field-text__input-wrap
                            input.field-text__input#range__field-2(type='number', min='0', max='10000')
                      +range
                    .drop-field__option-wrap
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chekRadio', type='radio')
                          span до 1 000₽
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chekRadio', type='radio')
                          span до 2 000₽
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chekRadio', type='radio')
                          span до 3 000₽
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chekRadio', type='radio')
                          span до 5 000₽
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chekRadio', type='radio')
                          span до 10 000₽
                  .drop-field__accept
                    +btn('Применить','accent')(type='submit')
              .drop-field__wrap-item
                .drop-field__title Бренд
                .drop-field__body-wrap
                  .drop-field__body
                    .drop-field__caption Выберите интересующий вас бренд
                    .drop-field__option-wrap
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Пункт меню 1
                  .drop-field__accept
                    +btn('Применить','accent')(type='submit')
              .drop-field__wrap-item
                .drop-field__title Цвет
                .drop-field__body-wrap
                  .drop-field__body
                    .drop-field__caption Какие цвета вас интересуют?
                    .drop-field__option-wrap
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Красный
                        .drop-field__color
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Белый
                        .drop-field__color
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Черный
                        .drop-field__color
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Синий
                        .drop-field__color
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Желтый
                        .drop-field__color
                  .drop-field__accept
                    +btn('Применить','accent')(type='submit')
              .drop-field__wrap-item
                .drop-field__title Размер
                .drop-field__body-wrap
                  .drop-field__body
                    .drop-field__caption Выберите интересующие вас размеры
                    .drop-field__option-wrap.drop-field__option-wrap--col2
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Sm
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Small
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span EU 75C
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Длинный размер
                      .drop-field__option
                        label.drop-field__input-wrap
                          input.drop-field__input(name='chek0', type='checkbox')
                          span Oversize
                  .drop-field__accept
                    +btn('Таблица размеров','white')
                    +btn('Применить','accent')(type='submit')
            .drop-field__all-accept
              .drop-field__all-search Нашлось:
                span 4210 товаров
              +btn('Применить','accent')(type='submit')
        //- контейнер товаров
        .content__inner.content__inner--catalog
          //- блок с товаром
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('5 783₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (6).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/bb6c5dd7181ecb1279338bfae746e292.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (6).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/bb6c5dd7181ecb1279338bfae746e292.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/3739abcced147224fdc858ab9f4e1291.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/7a044a1a8bef1634c98a5be13137aac0.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    +old-price('3300₽')
              .product-card__like
                +like
        //- пагинация
        .pagination__wrapper
            .pagination__btn
              +btn('Показать больше','white, small-text')
            .pagination__container
              .pagination__info <span>12</span> товаров из <span>60</span>
              +pagination()
                +pagination-item('1', '#', true)
                +pagination-item('2', '#')
                +pagination-item('3', '#')
                +pagination-item('...')
                +pagination-item('99', '#')
