extends ../pug/layout.pug

block meta
  title Личный кабинет
  meta(name='description', content='')


block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Личный кабинет', 'profile.html')
        +breadcrumbs-item('Ваши данные')
      main.content__main
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              h2 Ваши данные
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              +categories-list
                ul.categories-list__wrap
                  li
                    a(href='profile.html') Кабинет
                  li
                    a(href='changeprofile.html') Мои данные
                  li
                    a(href='#') Мои заказы
                  li
                    a(href='#') Желаемое <span>(8)</span>
                  li
                    a(href='#') Подарочный сертификат
        +form('personal-data')
          .content__inner
            .content-wrap
              +content-block
                .profile-card__description
                  p ФИО
                  +field-text({
                    helpText: '',
                    attrs: {
                      placeholder: 'Фамилия Имя Отчество'
                    }
                  })
                .profile-card__description
                  p Мобильный телефон (для статуса заказа)
                  +field-text({
                    helpText: '',
                    attrs: {
                      placeholder: 'К примеру: +7 (000) 000-00-00'
                    }
                  })
                .profile-card__description
                  p Ваша электронная почта
                  +field-text({
                    helpText: '',
                    attrs: {
                      placeholder: 'neyxsem@gmail.com'
                    }
                  })
                .profile-card__description
                  p Новый пароль
                  +field-text({
                    helpText: '',
                    attrs: {
                      placeholder: 'Придумайте пароль'
                    }
                  })
                  +field-text({
                    helpText: '',
                    attrs: {
                      placeholder: 'Повторите новый пароль'
                    }
                  })
