extends ../pug/layout.pug

block meta
  title Оформление заказа
  meta(name='description', content='')

block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('корзина')
      main.content__main
        form.cart(method="POST", id="ORDER", data-check-form)
          .cart__select
            .cart__title.cart__title--check
              h3 Оформление заказа
              .cart__title-info
                span Пожалуйста, заполните информацию о себе, чтобы мы могли отправить вам заказ.
            .cart__name-group Населеный пункт
            .cart__local
              +locality
            .cart__name-group Выберите способ доставки
            .cart__checkout-wrap.choose-block__wrap
              .choose-block
                +field-radio([
                  {
                    helpText: '',
                    attrs: {
                      name: 'delivery',
                      required: 'required'
                    }
                  },
                ])
                .choose-block__title
                  span Доставка Почтой
                .choose-block__description Вы получите товар в ближайшем к вам почтовом отделении вашего города.
                .choose-block__info
                  span 1-2 недели
                  span +400₽
              +choose-block('delivery')
                .choose-block__title
                  span Доставка Почтой
                .choose-block__description Вы получите товар в ближайшем к вам почтовом отделении вашего города.
                .choose-block__info
                  span 1-2 недели
                  span +400₽
              +choose-block('delivery')
                .choose-block__title
                  span Доставка Почтой
                .choose-block__description Вы получите товар в ближайшем к вам почтовом отделении вашего города.
                .choose-block__info
                  span 1-2 недели
                  span +400₽
            .cart__name-group Заполните информацию
            .cart__checkout-wrap
              .cart__field-group
                .cart__field-group-inner
                  .cart__field-title ФИО
                  +field-text({
                    helpText: '',
                    attrs: {
                      placeholder: 'Фамилия Имя Отчество',
                      required: 'required'
                    }
                  })
                .cart__field-group-inner
                  .cart__field-title Мобильный телефон
                  label.field-text
                    span.field-text__input-wrap
                      input.field-text__input(placeholder='К примеру: +7 (000) 000-00-00', type="tel", required,)
                .cart__field-group-inner
                  .cart__field-title Ваша электронная почта
                  label.field-textlabel.field-text
                    span.field-text__input-wrap
                      input.field-text__input(placeholder='Email', type='email', required)
              .cart__field-group
                .cart__field-group-inner
                  .cart__field-title Адрес доставки
                  +field-text({
                    attrs: {
                      placeholder: 'Название улицы',
                      required: 'required'
                    }
                  })
                .cart__field-group-inner--two-field
                  .cart__field-title Почтовый индекс
                  +field-text({
                    helpText: 'подсказка',
                    attrs: {
                      placeholder: 'Индекс'
                    }
                  })
            .cart__checkout-wrap.cart__checkout-wrap--full
              .cart__field-group
                .cart__field-group-inner
                  .cart__field-title Комментарий к заказу
                  +field-text({
                    isTextarea: true,
                    helpText: '',
                    attrs: {
                      placeholder: 'Может у вас есть какие-нибудь пожелания?'
                    }
                  })
            .cart__name-group Оплатить с помощью
            .cart__checkout-wrap.choose-block__wrap
              .choose-block.choose-block--active
                +field-radio([
                  {
                    helpText: '',
                    attrs: {
                      name: 'methodPay',
                      checked: true
                    }
                  },
                ])
                .choose-block__title
                  span ApplePay  / GooglePay
                .choose-block__description Оплати со своего телефона
              +choose-block('methodPay')
                .choose-block__title
                  span Яндекс.Касса
                .choose-block__description Можно оплатить банковской картой, яндекс деньгами и прочими кошельками
              +choose-block('methodPay')
                .choose-block__title
                  span Наличными
                .choose-block__description Расплатитесь с курьером при получении заказа
          .cart__info
            .your-order__wrap
              +your-order
                .your-order__inner
                  .your-order__head
                    span Ваш заказ
                  .your-order__price
                    .your-order__price-big 4 000₽
                  .your-order__promo-code-wrap
                    svg(width='24px', height='24px')
                      use(xlink:href='img/sprite.svg#icon-gift-grayscale')
                    p У вас есть промокод или подарочная карта? <br>Введи ее и получи скидку
                    +form('promocode')
                      +field-text({
                        helpText: '',
                        attrs: {
                          placeholder: 'Промокод на скидку'
                        }
                      })
                      +field-actions()
                        +btn('Активировать промокод', 'white')
                .your-order__inner
                  +btn('Оплатить', 'accent')(type='submit')
            .free-shipping(data-free-ship-price='5000' data-cur-cart-total='4000')
              .free-shipping__text
                .free-shipping__title Бесплатная доставка
                .free-shipping__description Возьмите еще что-нибудь и мы доставим вам товар бесплатно!
                .free-shipping__range До бесплатной доставки: <span>520₽</span>
              .free-shipping__indicator
                .free-shipping__indicator-fill
                  .free-shipping__indicator-point
            +content-block('empty')
            .cart__info-help
              +info-block
                .info-block__inner
                  svg.info-block__icon
                    use(xlink:href='img/sprite.svg#icon-shield')
                .info-block__inner
                  h3 Безопасность
                .info-block__inner
                  p Оплата производится через официальные сервисы, мы не получаем доступ к вашим картам или кошелькам
              +info-block
                .info-block__inner
                  svg.info-block__icon
                    use(xlink:href='img/sprite.svg#icon-mask')
                .info-block__inner
                  h3 Полная анонимность при доставке
                .info-block__inner
                  p Транспортная компания и курьеры не будут знать детали заказа.
              +info-block
                .info-block__inner
                  svg.info-block__icon.info-block__icon--no-fill
                    use(xlink:href='img/sprite.svg#icon-smile')
                .info-block__inner
                  h3 Нужна помощь?
                .info-block__inner
                  p У вас возникли вопросы?<br>Обратитесь в нашу службу поддержки клиентов по электронной почте
