extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')


block content
  .content
    .content__container.content__container--sidebar
      +sidebar()
      main.content__main
        .content__inner.content__inner--home
          +content-block('main')
            .content-block__text-wrapper
              h1 Место, <br>где начинается <b>твой секрет.</b>
              p.content-block__description Стань вновь желанной с новым бельем от Инстинто.
              +btn('Перейти в каталог','main')(href='catalog.html')
          +content-block('large, svg')
            img.content-block__img(src='img/hero.jpg', alt='альт')
            .content-block__stick-img
              svg
                use(xlink:href='img/sprite.svg#hero-figure')
        .content__inner.content__inner--home
          +content-block()
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
          +content-block()
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
        .content__inner.content__inner--home.content__inner--mob-hide
          +content-block()
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
          +content-block('large, m-top')
            img.content-block__img(src='img/hero.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
        .content__inner.content__inner--home
          +content-block('main')
            .content-block__text-wrapper
              h2 Огромный ассортимент боди, сорочков и чулков у нас в каталоге
          +content-block()
            .content-block__text-wrapper
              +subscribe()
        .content__inner.content__inner--home
          +content-block('large')
            img.content-block__img(src='img/hero.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
              +btn('отправиться в путь','main')(href='catalog.html')
          +content-block('pos-relative')
            svg
              use(xlink:href='img/sprite.svg#icon-to-surprise')
        .content__inner.content__inner--home.content__inner--mob-hide
          +content-block()
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
              +btn('Выбрать пижаму','main')(href='catalog.html')
          +content-block()
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Косметика
              p.content-block__description Будь неотразимой
              +btn('Тсс, мы никому не скажем','main')(href='catalog.html')
          +content-block()
            .content-block__text-wrapper
              svg(width='60px', height='60px')
                use(xlink:href='img/sprite.svg#icon-delivery')
              h3.content-block__title Информация о доставке и т.д.
              p.content-block__description Бесплатная доставка от 5000₽
        .content__inner.content__inner--home
          +content-block('full-width')
            .content-block__text-wrapper
              p Вы следите за модой и интересуетесь последними тенденциями в мире нижнего белья и одежды? Тогда не пропустите женскую коллекцию. разнообразие моделей вас приятно удивит. Наша коллекция создана, чтобы учитывать потребности каждой женщины в любое время суток и в любой период жизни. Эта коллекция поможет безупречно выглядеть в офисе
//- block append page-bottom
//-   script(src='js/some.js')
