extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')


block content
  .content
    .content__container.content__container--sidebar
      +sidebar
      main.content__main
        .content__inner.content__inner--home
          +content-block('main')
            .content-block__text-wrapper
              h1 Место, <br>где начинается <b>твой секрет.</b>
              p.content-block__description Стань вновь желанной с новым бельем от Инстинто.
              +btn('Перейти в каталог','main')(href='catalog.html')
          +content-block('large, svg')
            img.content-block__img(src='img/hero.jpg', alt='альт')
        .content__inner.content__inner--home
          +content-block('center, p-t-mob')
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
          +content-block('large, center')
            h3.content-block__caption Экстравагантная коллекция Vivelo 
            +carousel('mini', true)
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__price 5 600₽
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/7a044a1a8bef1634c98a5be13137aac0.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики ОЧень вывфдадзыазщызща лафоыащшыоа ыал заф 
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/bb6c5dd7181ecb1279338bfae746e292.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики ОЧень вывфдадзыазщызща лафоыащшыоа ыал заф
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
        .content__inner.content__inner--home
          +content-block('center, p-t-mob')
            img.content-block__img(src='img/preview-3.jpg', alt='альт')
          +content-block('large')
            h3.content-block__caption Экстравагантная коллекция Vivelo 
            +carousel('mini', true)
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__price 5 600₽
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/7a044a1a8bef1634c98a5be13137aac0.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики ОЧень вывфдадзыазщызща лафоыащшыоа ыал заф 
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/bb6c5dd7181ecb1279338bfae746e292.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики ОЧень вывфдадзыазщызща лафоыащшыоа ыал заф
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
        .content__inner.content__inner--home
          +content-block('center')
            .content-block__text-wrapper
              h3.content-block__title Коллекция корректирующих корсетов от AnnChery
              +btn('Отправиться в путь','main')(href='catalog.html')
          +content-block('large')
            h3.content-block__caption Экстравагантная коллекция Vivelo 
            +carousel('mini', true)
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики ОЧень вывфдадзыазщызща лафоыащшыоа ыал заф 
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__price 5 600₽
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики ОЧень вывфдадзыазщызща лафоыащшыоа ыал заф
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
              .carousel__item
                +product-card
                  a.product-card__link(href='product.html')
                    .product-card__img-wrap
                      img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                      .product-card__discount -30%
                    .product-card__text-wrap
                      .product-card__name трусики
                      .product-card__price-wrap
                        .product-card__actual-price 2320₽
                        +old-price('5 783₽')
        .content__inner.content__inner--home
          +content-block('large, center')
            img.content-block__img(src='img/hero.jpg', alt='альт')
            .content-block__text-wrapper
              h3.content-block__title Экстравагантная коллекция Vivelo Barcetti
              p.content-block__description Новая коллекция трусиков от эпатажного дизайнера
              +btn('отправиться в путь','main')(href='catalog.html')
          +content-block('pos-relative')
            svg
              use(xlink:href='img/sprite.svg#icon-to-surprise')
        .content__inner.content__inner--home
          +content-block('full-width, center')
            .content-block__text-wrapper
              p.content-block__seo-text Вы следите за модой и интересуетесь последними тенденциями в мире нижнего белья и одежды? Тогда не пропустите женскую коллекцию. разнообразие моделей вас приятно удивит. Наша коллекция создана, чтобы учитывать потребности каждой женщины в любое время суток и в любой период жизни. Эта коллекция поможет безупречно выглядеть в офисе
//- block append page-bottom
//-   script(src='js/some.js')
