extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')


block content
  .content
    .content__container--and-sidebar
//- block append page-bottom
//-   script(src='js/some.js')
