extends ../pug/layout.pug

block meta
  title Информационная страница
  meta(name='info', content='')


block content
  .content
    .content__container
      .info
        h1.info__h1 Пример заголовка (Оферта)
        h2.info__h2 Подзаголовок 1 уровня
        p.info__p Пример текста нужно говорить громких слов о важности маленького веса письма — даже в нашем современном мире множество людей сталкивается с проблемой плохого интернет-соединения.
        h3.info__h3 Подзаголовок 2 уровня
        ol.info__ol
          li Google
          li Amazon
          li Yandex
          li Apple
        h4.info__h4 Подзаголовок 3 уровня
        dl.info__dl
          dt Режиссёр:
            dd Алексей рублёв
          dt Исполнители главных ролей:
            dd Майкд Фрей
            dd Джон
            dd Виталий Гогунский
