extends ../pug/layout.pug

block meta
  title Страница товара
  meta(name='description', content='')

block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Название Категории', 'catalog.html')
        +breadcrumbs-item('Название Товара')
      main.content__main
        .content__inner.content__inner--product
          +content-block('mob-last')
            .product-info
              .product-info__container
                .product-info__name Бюстгальтер Афины пуш ап из микрофибры
                .product-info__description Утягивающие велосипедки из микрофибры с легким моделирующим эффектом на талии, ягодицах и бедрах. Удлиненные штанишки. Высокая талия, обрезанные лазером края, ластовица.
                .product-info__contains 100% polyamide. Trim 1: 82% polyamide, 18% elastane. Trim 2: 100% cotton. Trim 3: 80% polyester, 10% polyamide, 10% elastane.
                .product-info__block
                  .product-info__block-section
                    .product-info__block-title Параметры модели
                    p 90/60/90 обхват 55см, чашечка 43 / размер M
                  .product-info__block-section
                    .product-info__block-title Информация о доставке
                    p Доставим анонимно и бесплатно за 5 000 р
                  .product-info__block-section
                    .product-info__block-title Информация о стирке
                    p Только ручная стирка
          +content-block
            +product-photo#product-photo
              .product-photo__inner
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
              .product-photo__ellips-wrap
          +content-block
            .product-option
              .product-option__inner
                .product-option__price
                  +old-price('3300₽')
                  .product-option__actual-price
                    span 4 990 ₽
                    +like
                .product-option__name Название товара
                form#product-option
                  .product-option__color
                    p Доступные цвета
                    .product-option__color-list
                      .product-option__color-item.product-option__color-item--active
                        img(src='img/img1.png', alt='Название товара')
                      .product-option__color-item
                        img(src='img/img2.jpg', alt='Название товара')
                      .product-option__color-item
                        img(src='img/img3.jpg', alt='Название товара')
                      .product-option__color-item
                        img(src='img/img1.png', alt='Название товара')
                  .product-option__button-select
                    .product-option__size
                      +select
                        option(value='12D', selected) 12D
                        option(value='75C') 75C
                        option(value='small') small
                        option(value='big') big
                        option(value='12D') 12D
                    .product-option__count
                      +select
                        option(value='1', selected) 1
                        option(value='2') 2
                        option(value='3') 3
                        option(value='4') 4
                  +btn('Таблица размеров', 'white')(data-toggle='modal', data-target='#modal-size-table-anais', href='#')
                  +btn('Добавить в корзину','accent')(type='submit')
    .also-like
      .also-like__inner
        +sidebar
        +content-block
          .also-like__img-container
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
                +old-price('3300₽')
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
                +old-price('3300₽')
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
        +content-block('mob-first')
          +info-block
            .info-block__inner
              svg(width='26px')
                use(xlink:href='img/sprite.svg#icon-favorites')
            .info-block__inner
              h3 Вам также может понравиться
            .info-block__inner
              p В наших подборках только лучшее для вас.
