extends ../pug/layout.pug

block meta
  title Страница товара
  meta(name='description', content='')

block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Название Категории', 'catalog.html')
        +breadcrumbs-item('Название Товара')
      main.content__main
        .content__inner.content__inner--product
          +content-block('mob-last')
            .product-info
              .product-info__container
                .product-info__name Бюстгальтер Афины пуш ап из микрофибры
                .product-info__description Утягивающие велосипедки из микрофибры с легким моделирующим эффектом на талии, ягодицах и бедрах. Удлиненные штанишки. Высокая талия, обрезанные лазером края, ластовица.
                .product-info__contains 100% polyamide. Trim 1: 82% polyamide, 18% elastane. Trim 2: 100% cotton. Trim 3: 80% polyester, 10% polyamide, 10% elastane.
                .product-info__block
                  .product-info__block-section
                    .product-info__block-title Параметры модели
                    p 90/60/90 обхват 55см, чашечка 43 / размер M
                  .product-info__block-section
                    .product-info__block-title Информация о доставке
                    p Доставим анонимно и бесплатно за 5 000 р
                  .product-info__block-section
                    .product-info__block-title Информация о стирке
                    p Только ручная стирка
          +content-block
            +product-photo#product-photo
              .product-photo__inner
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
                .product-photo__img
                  img(src='img/product-image.png', alt='фото товара')
              .product-photo__ellips-wrap
          +content-block
            .product-option
              .product-option__inner
                .product-option__price
                  +old-price('3300₽', 'no-m')
                  .product-option__actual-price
                    span 4 990 ₽
                    +like
                .product-option__name Название товара
                form#product-option
                  .product-option__color
                    p Доступные цвета
                    .product-option__color-list
                      .product-option__color-item.product-option__color-item--active
                        img(src='img/img1.png', alt='Название товара')
                      .product-option__color-item
                        img(src='img/img2.jpg', alt='Название товара')
                      .product-option__color-item
                        img(src='img/img3.jpg', alt='Название товара')
                      .product-option__color-item
                        img(src='img/img1.png', alt='Название товара')
                  .product-option__button-select
                    .product-option__size
                      +field-select(
                        '',
                        '',
                        [
                          {
                            title: 'Размер 1',
                            attrs: {
                              value: 'size1',
                            }
                          },
                          {
                            title: 'Размер 2',
                            attrs: {
                              value: 'size2',
                            }
                          },
                          {
                            title: 'Размер 3',
                            attrs: {
                              value: 'size3',
                            }
                          },
                          {
                            title: 'Размер 4',
                            attrs: {
                              value: 'size4',
                            }
                          },
                          {
                            title: 'Размер 5',
                            attrs: {
                              value: 'size5',
                            }
                          },
                        ],
                        '',
                        ''
                      )
                    .product-option__count
                      +field-num({
                        val: '1',
                        attrs: {
                          name: 'quantity',
                          max: '10',
                          min: '1',
                          step: '1',
                        }
                      })
                  +btn('Таблица размеров', 'white')(data-toggle='modal', data-target='#modal-size-table', href='#')
                  +btn('Добавить в корзину','accent')(type='submit')
                  +modal('modal-size-table','Название Бренда')
                    .modal__body.modal__body--table
                      .modal__table-name Всеобъемлющая таблица размеров
                      .modal__table-container
                        table
                          tr.modal__tr
                            th.modal__th Размер <br> на сайте
                            th.modal__th Размер <br> (RU)
                            th.modal__th Размер <br> (EU)
                            th.modal__th Обхват груди <br> (см)
                            th.modal__th Обхват под грудью<br> (см)
                            th.modal__th Обхват талии<br> (см)
                            th.modal__th Обхват бедер<br> (см)
                            th.modal__th Размер чашки
                            th(colspan='5') 
                              table.modal__table
                                tr
                                  th.modal__th(colspan='5') Размер чашки (обхват груди)
                                tr
                                  td.modal__td A
                                  td.modal__td B
                                  td.modal__td C
                                  td.modal__td D
                                  td.modal__td E
                            th.modal__th Размер от бренда
                            th.modal__th Окружность бедра одной ноги <br> (см)
                            th.modal__th Рост* <br> (см)
                          tr.modal__tr
                            td.modal__td S
                            td.modal__td 36
                            td.modal__td 42/44
                            td.modal__td 84-88
                            td.modal__td 68-72
                            td.modal__td 62-68
                            td.modal__td 88-93
                            td.modal__td A/C
                            td.modal__td 82-84
                            td.modal__td 84-86
                            td.modal__td 86-88
                            td.modal__td 88-90
                            td.modal__td 90-92
                            td.modal__td 1
                            td.modal__td 90
                            td.modal__td 168-172
                          tr.modal__tr
                            td.modal__td M
                            td.modal__td 65
                            td.modal__td 77-79
                            td.modal__td 79-81
                            td.modal__td 81-83
                            td.modal__td 83-85
                            td.modal__td 85-87
                            td.modal__td 87-89
                            td.modal__td 89-91
                            td.modal__td 91-93
                            td.modal__td 93-95
                            td.modal__td 95-97
                            td.modal__td 97-99
                          tr.modal__tr
                            td.modal__td L
                            td.modal__td 65
                            td.modal__td 77-79
                            td.modal__td 79-81
                            td.modal__td 81-83
                            td.modal__td 83-85
                            td.modal__td 85-87
                            td.modal__td 87-89
                            td.modal__td 89-91
                            td.modal__td 91-93
                            td.modal__td 93-95
                            td.modal__td 95-97
                            td.modal__td 97-99
                          tr.modal__tr
                            td.modal__td XL
                            td.modal__td 65
                            td.modal__td 77-79
                            td.modal__td 79-81
                            td.modal__td 81-83
                            td.modal__td 83-85
                            td.modal__td 85-87
                            td.modal__td 87-89
                            td.modal__td 89-91
                            td.modal__td 91-93
                            td.modal__td 93-95
                            td.modal__td 95-97
                            td.modal__td 97-99
                          tr.modal__tr
                            td.modal__td XXL
                            td.modal__td 65
                            td.modal__td 77-79
                            td.modal__td 79-81
                            td.modal__td 81-83
                            td.modal__td 83-85
                            td.modal__td 85-87
                            td.modal__td 87-89
                            td.modal__td 89-91
                            td.modal__td 91-93
                            td.modal__td 93-95
                            td.modal__td 95-97
                            td.modal__td 97-99
                      .modal__table-desc *Рост важен только для слитных купальников
                      .modal__table-name Таблица размеров: Beauty Night
                      .modal__table-container
                        table
                          tr.modal__tr
                            th.modal__th Размер <br> на сайте
                            th.modal__th Размер <br> (RU)
                            th.modal__th Обхват груди <br> (см)
                            th.modal__th Обхват талии<br> (см)
                            th.modal__th Обхват бедер<br> (см)
                          tr.modal__tr
                            td.modal__td S
                            td.modal__td 42
                            td.modal__td 82-86
                            td.modal__td 63-66
                            td.modal__td 90-93
                          tr.modal__tr
                            td.modal__td M
                            td.modal__td 44
                            td.modal__td 86-89
                            td.modal__td 67-70
                            td.modal__td 94-97
                      .modal__table-name Таблица размеров: Obsessive
                      .modal__table-container
                        table
                          tr.modal__tr
                            th.modal__th Размер <br> на сайте
                            th.modal__th Размер <br> (EU)
                            th.modal__th Размер <br> (RU)
                            th.modal__th Обхват груди <br> (см)
                            th.modal__th Обхват бедер<br> (см)
                          tr.modal__tr
                            td.modal__td S/M
                            td.modal__td 36/38
                            td.modal__td 42/44/46
                            td.modal__td 82-93
                            td.modal__td 86-97
                          tr.modal__tr
                            td.modal__td L/XL
                            td.modal__td 40/42
                            td.modal__td 48/50
                            td.modal__td 93-98
                            td.modal__td 97-107
                      .modal__table-name Размер бюстгалтеров, граций, корсетов и сорочек со встроенным бюстгалтером TM JOLIDON (Италия)
                      .modal__table-container
                        table
                          tr.modal__tr
                            th.modal__th Размер <br> на сайте
                            th.modal__th Размер <br> TM JOLIDON
                            th.modal__th Обхват под грудью<br> (см)
                            th(colspan='7') 
                              table.modal__table
                                tr
                                  th.modal__th(colspan='7') Размер чашки, обхват груди (см)
                                tr.modal__tr--n-color
                                  td.modal__td A
                                  td.modal__td B
                                  td.modal__td C
                                  td.modal__td D
                                  td.modal__td E
                                  td.modal__td F
                                  td.modal__td G
                          tr.modal__tr
                            td.modal__td 65
                            td.modal__td 1
                            td.modal__td 63-67
                            td.modal__td 77-79
                            td.modal__td 79-81
                            td.modal__td 81-83
                            td.modal__td 83-85
                            td.modal__td 85-87
                            td.modal__td 87-89
                            td.modal__td 89-91
                          tr.modal__tr
                            td.modal__td 70
                            td.modal__td 2
                            td.modal__td 68-72
                            td.modal__td 82-84
                            td.modal__td 84-86
                            td.modal__td 86-88
                            td.modal__td 88-90
                            td.modal__td 90-92
                            td.modal__td 92-94
                            td.modal__td 94-96
                    .modal__footer.modal__footer--table
                      +btn('Закрыть', 'white')(type='button', data-dismiss='modal')
    .also-like
      .also-like__inner
        +sidebar
        +content-block
          .also-like__img-container
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
                +old-price('3300₽')
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
                +old-price('3300₽')
            .also-like__img
              a(href='#')
                img(src='img/product-image.png', alt='фото товара')
                p Название товара
                span 2593₽
        +content-block('mob-first')
          +info-block
            .info-block__inner
              svg.info-block__icon
                use(xlink:href='img/sprite.svg#icon-favorites')
            .info-block__inner
              h3 Вам также может понравиться
            .info-block__inner
              p В наших подборках только лучшее для вас.
    .content__container
      +may-like
