extends ../pug/layout.pug

block meta
  title Личный кабинет
  meta(name='description', content='')


block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Личный кабинет')
      main.content__main
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              h2 Личный кабинет
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              +categories-list
                ul.categories-list__wrap
                  li
                    a.categories-list__active(href='profile.html') Кабинет
                  li
                    a(href='changeprofile.html') Мои данные
                  li
                    a(href='my-order.html') Мои заказы
                  li
                    a(href='desired.html') Желаемое <span>(8)</span>
                  li
                    a(href='certificate.html') Подарочный сертификат
        .content__inner
          .content-wrap
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-basket')
                  .profile-card__title Заказы
                  .profile-card__description Следите за статусом заказов и возвращайте непонравившиеся изделия
                +btn('Смотреть заказы','white')(href='my-order.html')
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-favorites')
                  .profile-card__title Желания (8 товаров)
                  .profile-card__description Сохраняйте понравившиеся Вам товары и проверяйте их наличие
                +btn('Показать желания','white')(href='#')
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-gift-grayscale')
                  .profile-card__title Подарочный сертификат
                  .profile-card__description У вас есть подарочная карта? Активируйте ее здесь и получите указанный в коде бонус
                +btn('Активировать подарок','white')(href='#')
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-smile')
                  .profile-card__title Нужна помощь?
                  .profile-card__description Если у вас возникли вопросы, вы всегда можете связаться с нами
                +btn('Написать в поддержку','white')(href='#')
          .content-wrap.content-wrap--secondary.content-wrap--gray
            +content-block('large')
              .profile-card__title Ваши данные
            +content-block
              .profile-info
                p.profile-info__label ФИО:
                  span.profile-info__bold Абдулаев Тимур Мурадович
                p.profile-info__label E-mail:
                  span.profile-info__bold webdtim@gmail.com
                p.profile-info__label Мобильный:
                  span.profile-info__bold +7 989 474-43-84
            +content-block
              .profile-info
                p.profile-info__label пол:
                  span.profile-info__bold Мужской
                p.profile-info__label Дата рождения:
                  span.profile-info__bold 06.09.1995
                p.profile-info__label Пароль:
                  a.profile-info__accent(href='changeprofile.html')  изменить
            +content-block('large')
              .profile-card__title Ваш адрес
              .profile-info
                p Абдулаев Тимур Мурадович
                p микрорайон 4, приморский жилой район, 374935, Махачкала (Дагестан), кв 39
                p +7 988 302-92-92
            +content-block
              +btn('Редактировать', 'white, m-t')(href='changeprofile.html')
