extends ../pug/layout.pug

block meta
  title Личный кабинет
  meta(name='description', content='')


block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Личный кабинет')
      main.content__main
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              h2 Личный кабинет
        .content__inner
          +content-block('full-width')
            .content-block__text-wrapper
              +categories-list
                ul.categories-list__wrap
                  li
                    a.categories-list__active(href='profile.html') Кабинет
                  li
                    a(href='changeprofile.html') Мои данные
                  li
                    a(href='#') Мои заказы
                  li
                    a(href='#') Желаемое <span>(8)</span>
                  li
                    a(href='#') Подарочный сертификат
        .content__inner
          .content-wrap
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-basket')
                  .profile-card__title Заказы
                  .profile-card__description Следите за статусом заказов и возвращайте непонравившиеся изделия
                +btn('Смотреть заказы','white')(href='#')
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-favorites')
                  .profile-card__title Желания (8 товаров)
                  .profile-card__description Сохраняйте понравившиеся Вам товары и проверяйте их наличие
                +btn('Показать желания','white')(href='#')
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-gift-grayscale')
                  .profile-card__title Подарочный сертификат
                  .profile-card__description У вас есть подарочная карта? Активируйте ее здесь и получите указанный в коде бонус
                +btn('Активировать подарок','white')(href='#')
            +content-block
              .profile-card
                .profile-card__body
                  svg
                    use(xlink:href='img/sprite.svg#icon-smile')
                  .profile-card__title Нужна помощь?
                  .profile-card__description Если у вас возникли вопросы, вы всегда можете связаться с нами
                +btn('Написать в поддержку','white')(href='#')
          .content-wrap.content-wrap--secondary.content-wrap--gray
            +content-block('large')
              .profile-card__title Ваши данные
            +content-block
              .profile-card__description
                p ФИО: <span>Абдулаев Тимур Мурадович</span>
                p E-mail: <span>webdtim@gmail.com</span>
                p Мобильный: <span>+7 989 474-43-84</span>
            +content-block
              .profile-card__description
                p пол: <span>Мужской</span>
                p Дата рождения: <span>06.09.1995</span>
                p Пароль:
                  a(href='changeprofile.html')  изменить
            +content-block('large')
              .profile-card__title Ваш адрес
              .profile-card__description Добавьте сюда свой адрес, чтобы не вводить его заного при оформлении заказа
            +content-block('large')
              .profile-card__description
                h5 Абдулаев Тимур Мурадович
                p микрорайон 4, приморский жилой район, 374935, Махачкала (Дагестан), кв 39
                p +7 988 302-92-92
            +content-block
              +btn('Редактировать', 'white')(href='changeprofile.html')
