extends ../pug/layout.pug

block meta
  title Поиск по сайту instinto.ru
  meta(name='description', content='')


block content
  .content
    .content__container
      +breadcrumbs
        +breadcrumbs-item('Главная', 'index.html')
        +breadcrumbs-item('Поиск')
      main.content__main
        +profile-head('Поиск')
        .search-page
          +field-text({
            attrs: {
              placeholder: 'Введите фразу для поиска',
            }
          })
          +btn('искать', 'black')
        //- контейнер товаров
        .content__inner.content__inner--catalog
          //- блок с товаром
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (4).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('5 783₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (6).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/bb6c5dd7181ecb1279338bfae746e292.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block('large')
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (2).jpg', alt='альт')
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (6).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/bb6c5dd7181ecb1279338bfae746e292.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/0a3bec6480158a55554e423fc3ac35ff.jpg', alt='альт')
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки. А это уже третья строка.
                  .product-card__price-wrap
                    .product-card__price 2210₽
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/product-card-img (3).jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики со средним названием
                  .product-card__price-wrap
                    .product-card__actual-price 1720₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/3739abcced147224fdc858ab9f4e1291.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики короткие
                  .product-card__price-wrap
                    .product-card__actual-price 1320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/00b8965ee26d0b44336c5e51b525cb45.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики
                  .product-card__price-wrap
                    .product-card__actual-price 2320₽
                    +old-price('3300₽')
              .product-card__like
                +like
          +content-block
            +product-card
              a.product-card__link(href='product.html')
                .product-card__img-wrap
                  img.product-card__img(src='img/7a044a1a8bef1634c98a5be13137aac0.jpg', alt='альт')
                  .product-card__discount -30%
                .product-card__text-wrap
                  .product-card__name трусики с очень длинным названием в целые 2 или даже 3 строки
                  .product-card__price-wrap
                    .product-card__actual-price 2210₽
                    +old-price('3300₽')
              .product-card__like
                +like
        //- пагинация
        .pagination__wrapper
            .pagination__btn
              +btn('Показать больше','white, small-text')
            .pagination__container
              .pagination__info <span>12</span> товаров из <span>60</span>
              +pagination()
                +pagination-item('1', '#', true)
                +pagination-item('2', '#')
                +pagination-item('3', '#')
                +pagination-item('...')
                +pagination-item('99', '#')
