// В этом файле должны быть стили для БЭМ-блока page-footer, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-footer {
	display: grid;

  // здесь модификация, стилизован в своём блоке
  .btn {
    padding: 14px 0;
    font-size: 14px;
  }

  // здесь модификация, стилизован в своём блоке
  .subscribe {
    display: none;

    @media (min-width: $screen-lg) {
      display: block;
    }
  }

	&__inner {
    display: grid;

    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
    }

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 0.54fr 1fr 1fr 0.54fr;
    }

    &--border {
      padding: 32px 0;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);

      .content-block {
        margin-top: 20px;

        @media (min-width: $screen-lg) {
          margin-top: 0;
        }
      }
    }

    &--carusel {
      margin-top: 50px;
      margin-bottom: 30px;
    }

    &--bg-gray {
      height: 50px;
      margin-top: 50px;
      padding-top: 12px;
      background-color: #fcfcfc;
    }
  }

  &__btn {
    display: grid;
    width: 100%;

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1.4fr;
      grid-column-gap: 20px;
    }

    @media (min-width: $screen-xxl) {
      grid-template-columns: 1fr 1.4fr;
      grid-column-gap: 40px;
    }

    // модификация
    .btn:first-child {
      margin-bottom: 20px;

      @media (min-width: $screen-xl) {
        margin-bottom: 0;
      }
    }
  }

  &__social {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__social-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background: #F4F4F4;
    cursor: pointer;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}
