// В этом файле должны быть стили для БЭМ-блока locality, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.locality {

  $block-name:                &; // #{$block-name}__element

  width: 100%;
  max-width: 350px;
  height: 50px;
  font-size: 14px;
  border: 1px solid rgba(0, 0, 0, 0.1);

  &__inner {
    display: flex;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
  }

  svg {
    align-self: center;
    max-width: 20px;
    max-height: 20px;
  }

  &__town {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;

    svg {
      max-width: 16px;
      max-height: 16px;
    }
  }
}

// модификация элемента bitrix
.bx-sls {
  height: 100%;
}

.bx-sls .dropdown-block {
  border: none !important;
  border-radius: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  font-size: 14px;
  padding: 0 !important;
  width: 220px;
}

.bx-sls .dropdown-icon {
  display: none !important;
}

.bx-sls .bx-ui-sls-fake, .bx-sls .bx-ui-sls-route {
  height: 50px !important;
}

.bx-sls .bx-ui-sls-clear {
  display: none !important;
}
