//- Все примеси в этом файле должны начинаться c имени блока (header-icons)

mixin header-icons(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header-icons('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header-icons--' + modsList[i].trim();
      }
    }

  .header-icons(class=allMods)&attributes(attributes)
    +search('Поиск','header-search','header-search--open')
    //- a.header-icons__inner(href='search.html', id='icon-search-header')
    //-   //- устанавливаем размер и id иконки из спрайта
    //-   svg(width='20', height='20', class='header-icons__icon')
    //-     use(xlink:href='img/sprite.svg#icon-search')
    //-   .header-container__line
    a.header-icons__inner(href='profile.html')
      .header-icons__text-sub-icon Профиль
      svg(width='20', height='20', class='header-icons__icon header-icons__icon--hide')
        use(xlink:href='img/sprite.svg#icon-person')
    a.header-icons__inner(href='favorites.html')
      .header-icons__text-sub-icon Желаемое
        #count-favorites
          span 0
      svg(width='20', height='20', class='header-icons__icon header-icons__icon--hide')
        use(xlink:href='img/sprite.svg#icon-favorites')
    a.header-icons__inner(href='basket.html')
      .header-icons__text-sub-icon Корзина
        #count-basket
          span 0
      svg(width='20', height='20', class='header-icons__icon header-icons__icon--hide')
        use(xlink:href='img/sprite.svg#icon-basket')
    block
