//- Все примеси в этом файле должны начинаться c имени блока (header-icons)

mixin header-icons(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +header-icons('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' header-icons--' + modsList[i].trim();
      }
    }

  .header-icons(class=allMods)&attributes(attributes)
    block
