// В этом файле должны быть стили для БЭМ-блока product-photo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-photo {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 141.66667%;
  margin-bottom: 30px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    height: auto;
    padding-top: 0;
    overflow: visible;
    margin-bottom: 0;
  }

  &__inner {
    // контейнер с элементами карусели, на моб устройствах абсолютно позиционируем и задаем фикс. ширину
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    position: absolute;
    top: 0;
    left: 0;
    width: 4000px;
    height: 100%;
    transition: 0.5s;

    // размещаем элементы по сетке на широкихх экранах
    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      position: static;
      width: 100%;
      height: auto;
    }
  }

  &__img {
    display: block;
    position: relative;
    width: 100vw;
    height: 100%;
    overflow: hidden;

    @media (min-width: $screen-md) {
      width: 100%;
      height: auto;
      overflow: visible;
      margin-bottom: 40px;
    }

    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;

      @media (min-width: $screen-md) {
        position: static;
      }
    }
  }

  &__ellips-wrap {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 20px;
    width: 100%;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__ellips {
    width: 16px;
    height: 16px;
    margin-left: 16px;
    border-radius: 50%;
    border: 1px solid $gray-lightest;
    background-color: $white;

    &:first-child {
      margin-left: 0;
    }

    &--active {
      border: none;
      background-color: $color-accent;
    }
  }
}
