// В этом файле должны быть стили для БЭМ-блока product-photo, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-photo {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  justify-content: center;
  position: relative;
  height: 80vh;
  width: 100%;
  margin-bottom: 30px;
  overflow: hidden;

  @media (min-width: $screen-md) {
    height: auto;
    overflow: visible;
  }

  &__inner {
    display: inline-flex;
    flex-wrap: nowrap;
    justify-content: start;
    width: 4000px;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;

    @media (min-width: $screen-md) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
    }
  }

  &__img {
    display: block;
    overflow: hidden;
    width: 100vw;

    @media (min-width: $screen-md) {
      position: static;
      overflow: visible;
      width: 100%;
      margin-bottom: 40px;
    }
  }

  &__ellips-wrap {
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    bottom: 20px;
    justify-content: space-between;
    width: 40%;

    @media (min-width: $screen-md) {
      display: none;
    }
  }

  &__ellips {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid $gray-lightest;
    background-color: $white;

    &--active {
      border: none;
      background-color: $color-accent;
    }
  }
}
