//- Все примеси в этом файле должны начинаться c имени блока (btn-group)

mixin btn-group(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +btn-group('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' btn-group--' + modsList[i].trim();
      }
    }

  .btn-group(class=allMods)&attributes(attributes)
    .btn-group__inner
      block
