// В этом файле должны быть стили для БЭМ-блока btn-group, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.btn-group {

  $block-name:                &; // #{$block-name}__element

  &__inner {

    display: flex;

    @media (min-width: $screen-xs) {

      display: flex;
      flex-direction: column;
    }

    @media (min-width: $screen-sm) {

      display: flex;
      flex-direction: column;
    }

    @media (min-width: $screen-md) {

      display: flex;
      flex-direction: row;
    }

    .btn {

      @media (min-width: $screen-xs) {

        margin-right: 0;
        margin-bottom: $base-margin;
      }

      @media (min-width: $screen-sm) {

        margin-right: 0;
        margin-bottom: $base-margin;
      }

      @media (min-width: $screen-md) {

        margin-right: $base-margin;
        margin-bottom: 0;
      }

      &:last-child {

        margin-right: 0;
      }
    }
  }

  &--search {

    display: flex;
  }

  &--flex {


    #{$block-name}__inner {

      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      .field-checkbox {

        margin-bottom: 0;
      }
    }
  }
}
