// В этом файле должны быть стили для БЭМ-блока product-option, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-option {

  $block-name:                &; // #{$block-name}__element

  &__like {
    cursor: pointer;

    svg {
      fill: none;

      &:hover,
      :focus {
        fill: $color-accent;
        stroke-width: 0;
      }
    }

    input {
      display: none;
    }

    input:checked + svg {
      fill: $color-accent;
      stroke-width: 0;
    }
  }
}
