// В этом файле должны быть стили для БЭМ-блока product-option, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-option {

  $block-name:                &; // #{$block-name}__element

  width: 100%;
  padding: 0 20px;

  @media (min-width: $screen-sm) {
    padding: 0 40px;
  }

  @media (min-width: $screen-md) {
    padding: 0;
  }

  &__old-price {
    font-size: 24px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: $gray-lighten;
  }

  &__actual-price {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
  }

  &__name {
    font-size: 12px;
    color: $gray;
  }

  &__color {
    margin-top: 20px;
    font-style: 12px;
    font-weight: 500;
  }

  &__color-list {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  &__color-item {
    width: 42px;
    height: 56px;
    border: 1px solid $gray-lightest;
    margin-right: 5px;
    padding: 4px;
    overflow: hidden;
    cursor: pointer;

    &--active {
      border: 1px solid $black;
    }
  }

  &__button-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-style: 14px;
    font-weight: 500;

    div {
      display: flex;
      align-items: center;
      position: relative;
      margin-top: 30px;
      margin-bottom: 20px;
      height: 50px;
      border: 1px solid $gray-lighter;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__size {
    width: 55%;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 14px;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      transform: translateY(-70%) rotate(45deg);
      transition: transform $transition-time, border-color $transition-time;
    }

    &--active {
      color: $white;
      background-color: $black;
      border: none;

      &:after {
        border-color: $white;
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }

  &__count {
    width: 35%;

    &:after {
      content: '';
      position: absolute;
      top: 50%;
      right: 14px;
      width: 6px;
      height: 6px;
      border-bottom: 2px solid $black;
      border-right: 2px solid $black;
      transform: translateY(-70%) rotate(45deg);
      transition: transform $transition-time, border-color $transition-time;
    }

    &--active {
      color: $white;
      background-color: $black;
      border: none;

      &:after {
        border-color: $white;
        transform: translateY(-30%) rotate(225deg);
      }
    }
  }

  &__button-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__size-wrapper {
    display: none;
    width: 55%;
  }

  &__count-wrapper {
    display: none;
    width: 35%;
  }

  &__item {
    width: 100%;
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid $gray-lightest;

    &--select {
      color: $white;
      background-color: $color-accent;
    }
  }

  &--open {
    display: flex;
    flex-direction: column;
    top: 0;
    max-height: 300px;
    margin-bottom: 20px;
    overflow-y: scroll;
    box-shadow: 0 0 50px $gray-lightest;
  }
}
