// В этом файле должны быть стили для БЭМ-блока product-option, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.product-option {

  $block-name:                &; // #{$block-name}__element

  width: 100%;
  padding: 0 20px;

  @media (min-width: $screen-sm) {
    padding: 0 40px;
  }

  @media (min-width: $screen-md) {
    padding: 0;
  }

  &__old-price {
    font-size: 24px;
    font-weight: 400;
    text-decoration-line: line-through;
    color: $gray-lighten;
  }

  &__actual-price {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 48px;
    font-weight: 500;
  }

  &__name {
    font-size: 12px;
    color: $gray;
  }

  &__color {
    margin-top: 20px;
    font-style: 12px;
    font-weight: 500;
  }

  &__color-list {
    display: flex;
    justify-content: start;
    width: 100%;
  }

  &__color-item {
    width: 42px;
    height: 56px;
    border: 1px solid $gray-lightest;
    margin-right: 5px;
    padding: 4px;
    overflow: hidden;
    cursor: pointer;

    &--active {
      border: 1px solid $black;
    }
  }

  &__button-select {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
  }

  &__size {
    width: 55%;
  }

  &__count {
    width: 35%;
  }
}
