//- Все примеси в этом файле должны начинаться c имени блока (carusel)

mixin carusel(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +carusel('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' carusel--' + modsList[i].trim();
      }
    }

  .carusel(class=allMods)&attributes(attributes)
    .carusel__inner
      .carusel__item-wrap
        block
      .carusel__ellips-wrap
        .carusel__ellips.carusel__ellips--active
        .carusel__ellips
        .carusel__ellips
