// В этом файле должны быть стили для БЭМ-блока content, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.content {

  $block-name:                &; // #{$block-name}__element

  &__container {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: 0;
    margin-left: 0;

    @media (min-width: $screen-md) {
      margin-left: $m-md;
      margin-right: $m-md;
    }

    @media (min-width: $screen-xl) {
      margin-left: $m-xl;
      margin-right: $m-xl;
    }

    &--sidebar {

      @media (min-width: $screen-lg) {
        grid-template-columns: 240px 1fr;
        grid-column-gap: 10px;
      }

      @media (min-width: $screen-xl) {
        grid-column-gap: 40px;
      }

      @media (min-width: $screen-xxl) {
        grid-template-columns: 290px 1fr;
        grid-column-gap: 60px;
      }
    }
  }

  &__main {
    display: grid;
    width: 100%;
  }

  &__inner {
    display: grid;
    width: 100%;
    margin-top: 50px;

    @media (min-width: $screen-md) {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
    }

    @media (min-width: $screen-lg) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: $screen-xl) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &--mob-hide {
      display: none;

      @media (min-width: $screen-md) {
        display: grid;
      }
    }

    &--home {
      margin-top: 0;

      @media (min-width: $screen-md) {
        margin-top: 50px;
      }

      @media (min-width: $screen-lg) {
        grid-template-columns: 1fr 1fr;
      }

      @media (min-width: $screen-xl) {
        grid-template-columns: 1fr 1fr 0.46fr;
        // модификация блока, стили хранятся в файле блока
        .btn--main {
          margin-bottom: 0;
        }
      }

      // модификация блока, стили хранятся в файле блока
      .btn--main {
        margin-bottom: 30px;
      }
    }

    &--close {
      display: none;
    }

    &--product {
      margin-top: 20px;

      @media (min-width: $screen-md) {
        grid-template-columns: 1fr 0.7fr;
        margin-top: 50px;
      }

      @media (min-width: $screen-lg) {
        grid-template-columns: 1fr 2fr 1fr;
      }

      @media (min-width: $screen-xl) {
        grid-template-columns: 0.7fr 2fr 0.7fr;
        grid-column-gap: 60px;
      }
    }

    &--none-margin {
      margin: 0;
    }
  }
}
